@font-face {
  font-family: 'Atop';
  src: url('./../fonts/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K6z9mXg-VNw7NHvqnp.woff2');
}

:root {
  font-family: Wix Madefor Display;
  font-size: 15px;
  font-weight: 600;
}
/* Custom ScrollBar Chrome Opera */
::-webkit-scrollbar {
  width: 5px; // for vertical scroll bar
  height: 5px; // for horizontal scroll bar
}
::-webkit-scrollbar-track {
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  background: #00b3ff;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff0088;
}
/* Custom ScrollBar FireFox */
:root {
  scrollbar-color: #00b3ff #ffffff;
  scrollbar-width: thin;
}

html.dark body {
  background-color: #000 !important;
}
html.light body {
  background-color: #fafafa !important;
}